.checklists__type {
	background-color: transparent;
	border: none;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.checklists__type_active {
	font-weight: 500;
	text-decoration: underline;
}