.checklists__edit-title {
	width: 20px;
	height: 18px;
	background-color: transparent;
	border: none;
	background-image: url(../../../images/edit.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.checklists__confirm-title {
	background-image: url(../../../images/success.svg);
}